.cabecera{
    background-color:#5F9EA0;
    height: 160px;
    text-align: center;
    padding: 25px 25px 0px 5px;
    border: white 8px groove;
}
.cabecera img{
    width: 10em;
    float: left;
}
.titulo{
    
    text-shadow: gray 6px 0;
    font-size: 2.40em;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav{
    float: center;
    padding: 25px 25px 50px 50px;

}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    
    
}
nav ul li a{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 25px;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
    
}
.contenido{
    background-color: #DAE7CB;
    clear: both;
    display:flex;
    font: 16px "Comic Sans MS", cursive;
    

}
.izquierda_contenido{
    border: white 8px groove;
    padding: 50px 100px 50px 50px;
}
.derecha_contenido{
    border: white 8px groove;
    padding: 50px 100px 50px 50px;
    display: flex;
    text-align: justify;
    align-items: center;
}
.derecha_contenido img{
    box-shadow: 10px 10px 5px #999;
}
.derecha_cont{
    border: white 8px groove;
    padding: 50px 100px 50px 50px;
    
}

.img1{
    width: 75%;
    height: 100%;
    
}
.img2{
    width: 400px;
    height: 400px;
    

}
.img3{
    width: 150px;
    height: 150px;
    

}
.derecha_cont video{
    width: 400px;
    height: 400px;
}
.bloques{
    border: white 8px groove;
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
}

.piepagina p{
    border: white 8px groove;
    padding: 25px 5px 25px 25px;
    align-items:center;
    background-color:#5F9EA0;
    text-align: center;
}

.blo_iz{
    
    padding: 25px 5px 25px 25px;
}
.blo_ce{
    padding: 25px 5px 25px 25px;
}
.blo_de{
    padding: 25px 5px 25px 25px;

}
.blo_derder{
    padding: 25px 5px 25px 25px;
}
div {
    padding: 25px 5px 25px 25px;
}
