.cabecera{
    border: white 8px groove;
    background-color:#5F9EA0;
    height: 160px;
    text-align: center;
    padding: 25px 25px 0px 5px;
}
.cabecera img{
    width: 10em;
    float: left;
}
.titulo{
    text-shadow: gray 6px 0;
    font-size: 2.40em;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav{
    float: center;
    padding: 25px 25px 50px 50px;

}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    
    
}
nav ul li a{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 25px;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
    
}

.img1{
    width: 75%;
    height: 100%;
}
section{
    background-color: white;
}

.bloques{
    font: 16px "Comic Sans MS", cursive;
    border: white 8px groove;
    background-color:#5F9EA0
    clear: both;
    width: auto;
    display:flex;
    justify-content: center;
    align-items: stretch;
    
}

.blo_iz{
    padding: 25px 5px 25px 25px;
    align-items:center;
    display: flex;
}
.blo_ce{
    padding: 25px 5px 25px 25px;
    align-items: center;
    display: flex;
}
.blo_der{
    padding: 25px 5px 25px 25px;
    align-items: center;
    display: flex;
}
footer{
    background-color:#5F9EA0;
}

.piepagina p{
    border: white 8px groove;
    align-items:center;
    background-color:#5F9EA0;
    text-align: center;
    padding: 25px 5px 25px 25px;
}
