body {
    font: 16px "Comic Sans MS", cursive;
}
.cabecera{
    border: white 8px groove;
    background-color:#5F9EA0;
    height: 160px;
    text-align: center;
    padding: 25px 25px 0px 5px;
}
.cabecera img{
    width: 10em;
    float: left;
}
.titulo{
    text-shadow: gray 6px 0;
    font-size: 2.40em;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav{
    float: center;
    padding: 25px 25px 50px 50px;

}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    
    
}
nav ul li a{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 25px;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
    
}
.contenido{
    background-color: white ;
    padding: 20px 200px 20px 100px;
    display: inline-flex;
    text-align: justify;
    align-items: center;
    text-align: justify;
    
}
.derecha_contenido{
    padding: 50px 100px 100px 100px;
    background-color:#DAE7CB;
    border: white 8px groove;
}
.par4{
    color: green;
}
.img1{
    width: 75%;
    height: 100%;
}
.img2{
    width: 100%;
    height: auto;
}
.img3{
    width: 150px;
    height: 150px;
}
.bloques{
    border: white 8px groove;
    clear: both;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
}
.tabla th{
    background-color:rgb(255, 221, 157);
}
.tabla tr{
    background-color: wheat;
}


.piepagina p{
    border: white 8px groove;
    padding: 25px 5px 25px 25px;
    align-items:center;
    background-color:#5F9EA0;
    text-align: center;
}
.blo_iz{
    padding: 25px 5px 25px 25px;
}
.blo_ce{
    padding: 25px 5px 25px 25px;
}
.blo_de{
    padding: 25px 5px 25px 25px;

}
.blo_derder{
    padding: 25px 5px 25px 25px;
}
div {
    padding: 25px 5px 25px 25px;
}
